<div class="header">
  <div class="container">
    <div class="header-wrap">
      <div class="nav-bar">
        <div class="logo">
          <p class="text-logo">Sajna</p>
          <p class="text-logo-des">.</p>
        </div>
        <nav class="nav">
          <ul class="nav-group">
            <li><a href="">Home</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
          </ul>
          <div class="nav-menu">
            <i class="ti ti-menu "></i>
          </div>
        </nav>
      </div>
      <div class="billboard">
        <div class="billboard-left col-6">
          <div class="billboard-rang-group">
            <div class="billboard-left-rang2"></div>
            <div class="billboard-left-rang1"></div>
          </div>
          <div class="billboard-image">
            <img src="../../assets/images/img-bilload.png" alt="">
          </div>
        </div>
        <div class="billboard-right col-6">
          <div class="billboard-right-text1">
            <p>2021 fashion Collection</p>
          </div>
          <div class="billboard-right-text2">
            <p>Spring Wears</p>
          </div>
          <div class="billboard-right-text3">
            <p>Express your unique style. Don’t miss out on the latest outerwear trends with the 2021 Fashion
              Collection.</p>
          </div>
          <div class="billboard-right-btn-buy">
            <button>Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-scroll">SCROLL DOWN</div>

</div>
